h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin: auto;
  text-align: center;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

p{
  font-family: 'PT Serif', serif;
  margin: auto;
  text-align: center;
}

button.btn {
  margin-left: auto;
  text-align: center;
}
