h1 {
  font-family: 'Cedarville Cursive', cursive !important;
  font-weight: 800;
  font-size: 20px;
  margin: auto;
  text-align: center;
  /* filter: drop-shadow(2px 2px 2px #7d4180); */
}

h2 {
  font-family: 'Cedarville Cursive', cursive !important;
  font-weight: 800;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

nav.navbar.navbar-default {
  margin-bottom: 50px;
}

img.img-responsive.img-circle {
  margin-bottom: 3%;
}

p {
  font-family: 'PT Serif', serif;
  margin: auto;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-style: italic;
}

.navbar-brand {
  font-family: 'Cedarville Cursive', cursive !important;
}

button.btn {
  text-align: center;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 3%;
  width: 300px;
  height: 75px;
}

div.jumbotron.text-center {
  color: #505058;
  background-color: white;
  margin: auto;
  height: 200px;
  box-shadow: none;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}


.jumbotron {
  color: white;
  margin: auto;
  background-color: rgb(0, 0, 0, .30);
  height: 550px;
  margin-bottom: 2%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.thumbnail {
  border: 0px !important;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.thumbnail:hover {
  transform: scale(1.05);
}

.social {
  text-align: center;
  margin-top: 5%;
}

.navbar-default {
  background-color: black;
}

body {
	background-color: black;
}

div#about {
  height: 400px;
}

div.col-md-6{
  margin-top: 2%;
  margin-bottom: 4%;
}

img.img-circle {
  width: 200px;
  height: 200px;
  object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

p.contact {
  bottom: 1px;
  margin-top: 25%;
}

@media screen and (max-width: 600px) {
    body{
      background-color: black;
    }

    div.jumbotron.text-center {
      color: black;
      background-color: white;
      margin: auto;
      height: 225px;
      box-shadow: none;
      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadein 2s; /* Firefox < 16 */
            -ms-animation: fadein 2s; /* Internet Explorer */
             -o-animation: fadein 2s; /* Opera < 12.1 */
                animation: fadein 2s;
    }

    p.contact {
      bottom: 1px;
      margin-top: 30%;
    }

    .jumbotron {
      color: black;
      background-color: rgb(0, 0, 0, .30);
      height: 550px;
      margin-right: 2%;
      margin-left: 2%;
    }

    button.btn {
      margin-left: auto;
      text-align: center;
      background-color: black;
      color: white;
    }

    .social img{
      text-align: center;
      width: 10% !important;
    }

}
